body {
    background: #36393E;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #FFFFF4;
}
h2 {
    outline: #202225 solid 1px;
    border-radius: 1px;
    background: #2F3136;
    font-size: 25px;
    padding-left: 10px;
    padding-bottom: 5px;
}

input {
    outline: #40444A solid 1px;
    font-size: 20px;
    border:solid 0;
    background: #40444A;
    color: #B9BBBE;
}

.one {
    color: #B9BBBE;
}

.two {
    color: #b7852b;
}

.three {
    color: #0390cd;
}

.four {
    color: #cd4327;
}



.alert {
    color: white;
}